<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <% messages.forEach((msg)=> { %>
    <p>
      <%= `${msg.text}, ${msg.user}, ${msg.added}` %>
    </p>
    <% }) %>
      <a href="/new">New message</a>
</body>

</html>